<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>报告发现的异常行为</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
</head>
<body>
<h1 align="center">请输入相关错误信息</h1>
<form method="post">
    <div align="center">
        <span id="errorMessage">&nbsp;</span>
        <span style="font-size: 12px;color: red" th:text="${error}" aria-describedby="basic-addon0"></span>
    </div>
    <table border="1" align="center" width="1080">
        <tr>
            <th width="180">
                输入发生异常的链接地址
            </th>
            <th>
                输入你对异常现象的描述
            </th>
        </tr>
        <tr>
            <th>
                <input size="25" name="errorUrl" type="text"/>
            </th>
            <th>
                <input size="140" name="description" type="text"/>
            </th>
        </tr>
    </table>
    <div align="center">
        <button type="submit" style="width:190px;">提交</button>
    </div>
    <div align="center">
        <pre th:text="${reportStatus}"></pre>
    </div>
</form>
</body>
</html>