<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>开始爬取</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
</head>
<body>
<h1 align="center">帮助</h1>
<h3 align="center" style="color:#282bff"><a href="../func">返回功能选择界面</a></h3>
<p>1.其实没什么好介绍的，功能真的很简单啊，普通用户只能读取已经爬好的功能，而管理员用户可以设置需要爬取的账号、时间段，以及开始爬取</p>
<p>2.遇到任何和预想的不一致的行为，都可以通过报告发现的行为异常这个页面来报告，说清楚到底在什么页面发生了什么问题。我有空会来看和修复的，如果很着急……那也没办法啊。</p>
</body>
</html>