<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>表格嵌套</title></head>
<body>
<table width="560" height="300" border="1" cellspacing="0" align="center">
    <thead bgcolor="#66ffff">
    <tr height="70">
        <td width="160">网站logo</td>
        <td width="400">网站banner</td>
    </tr>
    </thead>
    <tbody>
    <tr valign="top" height="200">
        <td width="160" align="center">
            <table width="135" height="180" border="1" cellspacing="0" bgcolor="#ffccff">
                <tr>
                    <td>网站导航</td>
                </tr>
                <tr>
                    <td>网页导航</td>
                </tr>
                <tr>
                    <td>网页导航</td>
                </tr>
                <tr>
                    <td>网站导航</td>
                </tr>
                <tr>
                    <td>网页导航</td>
                </tr>
                <tr>
                    <td>网页导航</td>
                </tr>
            </table>
        </td>
        <td width="400" height="200" background="imgages/1.png">
            <table width="380" height="160" border="1" bordercolor="#cc9933" cellspacing="2" cellpadding="5">
                <tr>
                    <td>网站板块</td>
                    <td>网站板块</td>
                </tr>
                <tr>
                    <td>网站板块</td>
                    <td>网站板块</td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
    <tfoot bgcolor="#66ffff">
    <tr align="center">
        <td height="30" colspan="2"><font color="#ff0000">版权信息</font></td>
    </tr>
    </tfoot>
</table>
</body>
</html>